!!! 5
html
  head
    link(href="http://fonts.googleapis.com/css?family=Signika:400,600,300", rel="stylesheet")
    link(href="css/styles.css", rel="stylesheet")
    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="js/scripts.js")
  body
    nav
      .nav-wrap
        .top-nav
          a(href="#") Email Signup
          a(href="#") Login
          a(href="#") My Bags
        .nav-trigger
        .main-nav
          h1.logo Sassysac
          .main-nav-links
            a(href="#") View All
            a(href="#") Clutches
            a(href="#") Satchels
            a(href="#") Totes
            a(href="#") Hobos
            a(href="#") Shoulder Bags
            a(href="#") Evening Bags
            a(href="#") Sale
          .main-nav-hints
          
    #wrap
      ul.product-list
        li
          img.product-img(src="img/yellow.jpg", alt="")
          .price $35 | <span class="old-price">$48</span>
          .description Diamond Stud Crossbody
        li
          img.product-img(src="img/white-floral.jpg", alt="")
          .price $22 | <span class="old-price">$148</span>
          .description Ivory Floral
        li
          img.product-img(src="img/pink-clutch.jpg", alt="")
          .price $135 | <span class="old-price">$148</span>
          .description Pink Clutch
        li
          img.product-img(src="img/blue-tote.jpg", alt="")
          .price $35 | <span class="old-price">$48</span>
          .description Deep Blue
        li
          img.product-img(src="img/black-bag.jpg", alt="")
          .price $35 | <span class="old-price">$48</span>
          .description Ebony Amazonian
        li
          img.product-img(src="img/gray.jpg", alt="")
          .price $35 | <span class="old-price">$48</span>
          .description The Gray
        li
          img.product-img(src="img/beige-tote.jpg", alt="")
          .price $35 | <span class="old-price">$48</span>
          .description Don't I Look Good In Beige?
        li
          img.product-img(src="img/black-tote.jpg", alt="")
          .price $35 | <span class="old-price">$48</span>
          .description Just Along for the Ride
        li
          img.product-img(src="img/orange-tote.jpg", alt="")
          .price $35 | <span class="old-price">$48</span>
          .description Orange Tote
        li
          img.product-img(src="img/natural.jpg", alt="")
          .price $35 | <span class="old-price">$48</span>
          .description Natural Color Bag Thing
        li
          img.product-img(src="img/yellow-bag.jpg", alt="")
          .price $35 | <span class="old-price">$48</span>
          .description Los Angeles Lakers
        li
          img.product-img(src="img/yellow-tote.jpg", alt="")
          .price $35 | <span class="old-price">$48</span>
          .description Indiana Pacers                    



