body
  font    14px/1.5 "Signika", "Arial", sans-serif
  margin  0
  padding 0
a
  text-decoration none
  &:hover
    text-decoration underline
#wrap
  width  1020px
  margin 0 auto
.product-list
  list-style none
  margin     0
  padding    0
  text-align center
  &>li
    display       inline-block
    text-align    center
    margin-right  20px
    margin-bottom 40px
    &:nth-child(4n)
      margin-right 0
  
nav
  background #000
  width      100%

.nav-wrap
    width    1020px
    margin   0 auto
    position relative

.top-nav
  text-align     center
  font-size      12px
  text-transform uppercase
  padding 15px 0
  &>a
    color           #5b5b5b
    text-decoration none
    margin-right    10px
    &:hover
      text-decoration underline

.logo
  width       195px
  height      145px
  background  url(../img/ss-logo.png) no-repeat
  display     block
  text-indent -9999px
  margin      0 auto 
  position    relative
  z-index     1

.main-nav
  position   relative
  max-height 145px
  transition max-height 0.4s ease-in-out
  overflow   hidden
  &.active
    max-height 400px

.main-nav-wrap
  width  580px
  margin 0 auto

.main-nav-links
  padding 0 0 20px
  float left
  &>a
    display        block
    color          white
    text-transform uppercase
    margin-bottom 10px
    
.main-nav-hints
    width      230px
    height     230px
    float      right
    background white
    text-align center

.nav-trigger
  width         74px
  height        74px
  background    #000 
  border-radius 100%
  position      absolute
  bottom        -30px
  left          50%
  margin-left   -37px
  cursor        pointer
.nav-trigger-arrow
  height      14px
  width       24px
  background  url(../img/nav-trigger-arrow.png) no-repeat
  position    absolute
  top         60%
  left        50%
  margin-left -12px
  transition transform 0.2s ease-in-out
  &.active
    transform rotate(180deg)

.price
  font-size      18px
  letter-spacing 1px
  margin-bottom  5px
.old-price
  color           #989898
  text-decoration line-through
.description
  text-transform uppercase
  margin-bottom  10px
.favorite
  width      21px
  height     22px
  background url(../img/icon-favorite.png)
  opacity    0.1
  transition opacity 0.2s 
  cursor     pointer
  text-align center
  display    inline-block
  &:hover
  &.true
    opacity 1